@page
@model SBO.SBO_Bibliotek.Web.Pages.Loaners.Loaner_ShowModel
@{
}
<a class="btn btn-group-lg btn-dark" asp-page="/Loaners/Loaner_Create">New Loaner</a>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col">LoanerBook</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    @foreach (var item in Model.myLoaners)
    {
        <tbody>
            <tr>
                <th scope="row">@item.LoanerEmail</th>
                <td>@item.LoanerFirstname</td>
                <td>@item.LoanerLastname</td>
                <td>@item.LoanerPhone</td>
                <td>@item.LoanerBook</td>
                <td><a class="btn btn-dark btn-group-sm" asp-route-UpdateISBN="@item.ISBN" asp-page="/Books/Books_Update">Edit</a></td>
                <td>
                    <form asp-page-handler="DeleteButton" asp-route-isbn="@item.ISBN" method="post">
                        <button type="submit" class="btn btn-warning btn-group-sm">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    }
</table>